:root {
    --color-primario:#5D8FC3;
    --color-secundario:#47C47F;
    --color-ternario:#455351;
}

.selector{
    cursor: pointer;
    transition: 0.2flex-wraps ease-in;
}
.selector:hover{
    transform: scale(1.1);
}
.salir-vista{
    background-color: white;
    height: 2rem;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace,'Helvica','serif';
    cursor: pointer;
    position: fixed;
    top: 3.5rem;
    right: 1.2rem;
    z-index: 999995;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    text-decoration: underline;
}
.salir-vista > span {
    margin-left: 0.5rem;
    border-radius: 50%;
    color: white;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
    background-color: red;
}
.alerta-visualizador{
background-color: rgba(255, 255, 255,0.8);
padding: 0.5rem 2rem;
box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
font-family: monospace,'Helvica','serif';
border-radius: 1rem;
position: fixed;
top: 5rem;
left: 50%;
transform: translateX(-50%);
z-index: 999995;
}
embed{
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 99999;
}
section.boton{
    cursor: pointer;
}
