@import url('./../../styles/__root.css');
body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.fondo{
    width: 100%;
    max-width: 100%;
    height: 75vh;
}

.contact-icon {
    background-color: var(--color-secundario);
    padding: 0.25rem 0.5rem 0.5rem 0.5rem;
}

.card > img {
    box-sizing: border-box;
    max-width: 100% !important;
    height: 8.5125rem;
    padding: 0.15rem;
}
.fonty-2 {
    font-size: 1.2rem;
}

.content-description{
    position: absolute;
    width: 35%;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: -5px -5px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    padding: 0.5rem;
    color: white;
    border-radius: 0.5rem;
}

.card-title{
    font-size: 1rem;
    font-weight: 700;
}
.card-text{
    font-size: 0.85rem;
}

.altura__1{
    height: 8rem;
    overflow-y: auto;
}

.fondo-parrafo{
    display: flex;
    gap: 0.5rem;
}
.fondo-parrafo img {
    border-radius: 0.5rem;

}
.__parrafo{
    width: 35%;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: monospace, 'Courier New', Courier;
    font-style: oblique;
    border-radius: 0.5rem;

}
.__parrafo p{
    display: flex;
    align-items: center;
    padding: 0.8rem;
    text-align: justify;
    font-size: 1.05rem;
    font-weight: 500;
}
.ppp{
    box-shadow: 1px 1px 3px var(--color-secundario);
}
.img__home{
    width: 65%;
    object-fit:cover; 
}
.cards__img{
    width: 12rem;
}
@media screen and (max-width:500px) {
    .fondo-parrafo{
        flex-direction: column;
        align-items: center;
    }
    .__parrafo{
        width: 100%;
    }
    .img__home {
        width: 100%;
    }
    .cards__img{
        width: 80%;
    }
}