@import url('./../../styles/__root.css');
body,html{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.item-custom{
    transition: background-color 300ms ease-out;
    border-radius: 0.5rem;
}
.item-custom > a{
    transition: all 0.300s ease-out;
}
.item-custom:hover{
    background-color: var(--color-primario);
    border-radius: 0.5rem;
}
.item-custom:hover > a{
    color: white !important;
}
.font-1 {
    font-size: 1.5rem;
}
.item-active {
    background-color: var(--color-secundario);
}
.item-custom.item-active > a {
    color: white !important;
}
.item-active {
    color: white !important;
}

.pointer-none{
    user-select: none;
    cursor: none;
}

.fondo{
    width: 100%;
    max-width: 100%;
    height: 75vh;
}
.containers__cards {
    margin-top: -4rem;
}
a.nav-link:target {
    background-color: var(--color-secundario);
    color: white !important;
}
.contact-icon {
    background-color: var(--color-secundario);
    padding: 0.25rem 0.5rem 0.5rem 0.5rem;
}

.card > img {
    box-sizing: border-box;
    max-width: 100% !important;
    height: 15.5125rem;
    padding: 0.15rem;
}
.fonty-2 {
    font-size: 1.2rem;
}

.content-description{
    position: absolute;
    width: 35%;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: -5px -5px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    padding: 0.5rem;
    color: white;
    border-radius: 0.5rem;
}