.container__min{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.item__end{
    align-self : end;
    margin-right: 0;
    margin-bottom: 0.5rem;
}
.formulario-init{
    border-radius: 0.5rem;
}
.formulario-init input,select {
    padding: 0.5rem;
    border-radius: 0.5rem;
    outline: none;
    border-width: 0;
}
.img__form{
    width: 10rem;
    height: 10rem;
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.w-35{
    width: 35%;
}
.container__login_app{
    background-position: -5rem;
    background-repeat: repeat;
    background-image: url('./../../assets/imgs/fondo.jpg');
    padding: 0.5rem;
    width: 100%;
    height: 100vh !important;
    margin: 0;
    object-fit: cover;
    background-size: contain;


}
.container__login{
    width: 30%;
}
@media screen and (max-width: 1075px) {
    .container__login{
        width: 35%;
    }
    
  } 
@media screen and (max-width: 828px) {
    .container__login{
        width: 50%;
    }
    
  }
